.hero {
     padding: 118px 0;
     
          background-color: #c4c4c4;
          background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
               url();
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
}