html {
     scroll-behavior: smooth;
}

body {
     font-family: $FontFamily;
     background-color: $primaryBgc;
     letter-spacing: 0.03em;
}
h1,
h2,
h3,
p,
ul {
     margin: 0;
}

ul {
     padding-left: 0;
}

img {
     display: block;
     max-width: 100%;
     height: auto;
}
a,
button,
input,
textarea {
     outline: none;
}

address {
     font-style: normal;
}

.section {
     padding: 94px 0;

     @media screen and (max-width: 767px) {
               padding: 60px 0;
          }
}
.list {
     list-style: none;
}

.link {
     text-decoration: none;
}

.is-hidden {
     visibility: hidden;
     opacity: 0;
     pointer-events: none;
}
.link:hover {
     color: $accentColor;
}

.link:focus {
     color: $accentColor;
}

.title {
     margin-bottom: $cardSetGap;

     font-weight: 700;
     font-size: 28px;
     line-height: 1.18;
     text-align: center;

     color: $titleTextColor;

     @media screen and (min-width: $tablet) {
          margin-bottom: 30px;
     }

     @media screen and (min-width: $desktop) {
          margin-bottom: 50px;

          font-size: 36px;
          line-height: 1.17;
     }
}

body.modal-open {
     overflow: hidden;
}
.title--hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}
