.page-footer {
     padding: 60px 0;
     text-align: center;
     background-color: $secondaryBgc;
}

.page-footer__container {
     @media screen and (min-width: $tablet) {
          display: flex;
          flex-wrap: wrap;
          align-items: baseline;
          justify-content: center;
     }
}

.page-footer__text {
     display: block;
     margin-bottom: 20px;

     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     text-transform: uppercase;
     color: $rareTextColor;

     @media screen and (min-width: $desktop) {
          text-align: start;
     }
}

.address-thumb {
     @media screen and (max-width: 1199px) {
          margin-bottom: 60px;
     }

     @media screen and (min-width: $tablet) {
          width: calc(100% / 2);
     }

     @media screen and (min-width: $desktop) {
          margin-right: 94px;
          width: auto;
          text-align: start;
     }
}

.address {
     margin-top: 20px;
     color: $rareTextColor;

     &__item {
               margin-bottom: 9px;
               color: $rareTextColor;
          }
}

.address__list {
     display: flex;
     flex-direction: column;
     row-gap: 8px;
}

.address__link {
     font-size: 14px;
     line-height: 1.71;

     color: $secondaryTextColor;
     transition: $transitionColor;

     &--white {
          color: $rareTextColor;
     }
}